@model TechLight.DATA.EF.Models.Status

@{
    ViewData["Title"] = "Details " + Model.StatusName;
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center col-md-8 offset-2">
    <div class="heading_container heading_center">
        <h2 class="fs-1" style="color: #feb900;">
            Details of <span>@Model.StatusName</span>
        </h2>
    </div>
</section>

<div class="col-md-6 offset-5 align-content-center">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.StatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusDesc)
        </dd>
    </dl>
</div>
<div class="text-center mt-3 mb-3">
    <a asp-action="Edit" asp-route-id="@Model?.StatusId" class="btn btn-dark">Edit</a>
    <a asp-action="Index" class="btn btn-dark">Back to Status</a>
</div>
