@model TechLight.DATA.EF.Models.Trader

@{
    ViewData["Title"] = "Details " + Model.TraderName;
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center col-md-8 offset-2">
    <div class="heading_container heading_center">
        <h2 class="fs-1" style="color: #feb900;">
            Details of <span>@Model.TraderName</span>
        </h2>
    </div>
</section>

<div class="row col-md-8 offset-4 text-justify">
    <p class="h5">
        <strong>@Html.DisplayNameFor(mode => Model.TraderName):</strong> @Html.DisplayFor(model => model.TraderName)
    </p>
    <p class="h5">
        <strong>@Html.DisplayNameFor(mode => Model.Address):</strong> @Html.DisplayFor(model => model.Address)
    </p>
    <p class="h5">
        <strong>@Html.DisplayNameFor(mode => Model.City):</strong> @Html.DisplayFor(model => model.City)
    </p>
    <p class="h5">
        <strong>@Html.DisplayNameFor(mode => Model.State):</strong> @Html.DisplayFor(model => model.State)
    </p>
    <p class="h5">
        <strong>@Html.DisplayNameFor(mode => Model.Zip):</strong> @Html.DisplayFor(model => model.Zip)
    </p>
    <p class="h5">
        <strong>@Html.DisplayNameFor(mode => Model.Phone):</strong> @Html.DisplayFor(model => model.Phone)
    </p>
</div>
<div class="text-center mt-3 mb-3">
    <a asp-action="Edit" asp-route-id="@Model?.TraderId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-dark">Back to Traders</a>
</div>
