@model TechLight.DATA.EF.Models.Product

<div>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductDesc)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.RaidStatus)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RaidStatus.RaidStatusDesc)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Trader)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Trader.Address)
        </dd>
    </dl>
</div>
