@model TechLight.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Details " + Model.ProductName;
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center">
    <div class="heading_container heading_center">
        <h2 class="fs-1">
            Details of <span style="color: #feb900;">@Model.ProductName</span>
        </h2>
    </div>
</section>

<div class="row mb-3">
    <div class="col-md-6 text-center">
        <img src="~/assets/img/@Model.ProductImage" alt="@Model.ProductName" longdesc="@Model.ProductDesc" class="img-fluid" />
        <p class="text-info mt-3">
            @Html.DisplayFor(model => model.ProductDesc)
        </p>
    </div>

    <div class="col-md-4 offset-1">
        <p class="h5">
            <strong>@Html.DisplayNameFor(mode => Model.Price):</strong> @Html.DisplayFor(model => model.Price)
        </p>
        <p class="h5">
            <strong>@Html.DisplayNameFor(mode => Model.UnitsInStock):</strong> @Html.DisplayFor(model => model.UnitsInStock)
        </p>
        <p class="h5">
            <strong>@Html.DisplayNameFor(mode => Model.Category.CategoryName):</strong> @Html.DisplayFor(model => model.Category.CategoryName)
        </p>
        <p class="h5">
            <strong>@Html.DisplayNameFor(mode => Model.Trader.TraderName):</strong> @Html.DisplayFor(model => model.Trader.TraderName)
        </p>
    </div>
</div>

<div class="mt-3 mb-3 text-center">
@if (User.IsInRole("Admin"))
{  
    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-dark">Edit</a> 
}
    <a asp-action="Index" class="btn btn-dark">Back to Our Products</a>
</div>
