@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<TechLight.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "TiledProducts";
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center">
    <div class="heading_container heading_center">
        <h2 class="fs-1" style="color: #feb900;">
            Our <span>Products</span>
        </h2>
        <p align="center">
            @if (User.IsInRole("Admin"))
            {
                <a style="color: white" asp-action="Create" class="btn btn-warning">Add Product</a>
            }
            <a asp-action="Index" class="btn btn-dark mx-4">Table View</a>
        </p>

        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form asp-action="TiledProducts" method="get">
                    <label for="categoryId" class="control-label d-block text-center">Filter by Category</label>
                    <select name="categoryId" class="form-control text-center mb-3" asp-items="ViewBag.CategoryId">
                        <option value="0">[Choose a Category]</option>
                    </select>
                    <label for="searchTerm" class="control-label d-block text-center">Search by Product</label>
                    <input name="searchTerm" class="form-control text-center mb-3" placeholder="Search Gadgets" />
                    <input type="submit" value="Search" class="btn btn-success text-center w-30 d-block mx-auto" />
                </form>

                @if (ViewBag.NbrResults != null)
                {
                    <p class="mt-5 p-2 alert alert-warning text-center">
                        Showing @ViewBag.NbrResults result@(ViewBag.NbrResults == 1 ? "" : "s") for '@ViewBag.SearchTerm'.
                    </p>
                }
            </div>
        </div>

    </div>
</section>

<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <div class="row gy-5">
            @foreach (var item in Model)
            {

                <div class="col-lg-3 offset-1 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img" style="border-radius: 15%;">
                        <img src="~/assets/img/@item.ProductImage" class="img-fluid" alt="@item.ProductName">
                    </div>
                    <div class="member-info text-center">
                        <a asp-action="Details" asp-route-id="@item.ProductId" class="p-info"><h4>@item.ProductName</h4></a>
                        <span class="p-info">@Html.DisplayFor(modelItem => item.Price)</span>
                        <p>@item.ProductDesc</p>
                        <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId" class="btn btn-warning">Add To Cart</a> 
                    </div>
                </div>
            }
        </div>

        <div class="row mt-5">
            <div class="w-50 mx-auto text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                <div class="w-100">
                    @Html.PagedListPager(Model, page => Url.Action("TiledProducts", new { page, searchTerm = ViewBag.SearchTerm, categoryId = ViewBag.CategoryId }))
                </div>
            </div>
        </div>

    </div>
</section>