@model TechLight.DATA.EF.Models.Order

@{
    ViewData["Title"] = Model.Customer.Username + " Details";
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center col-md-8 offset-2">
    <div class="heading_container heading_center">
        <h2 class="fs-1">
            Details of <span style="color: #feb900;">@Model.Customer.Username</span>
        </h2>
    </div>
</section>

<div class="row col-md-8 offset-4 text-justify">
    <p class="h5">
        <strong>@Html.DisplayNameFor(model => model.OrderDate):</strong> @Html.DisplayFor(model => model.OrderDate)
    </p>
    <p class="h5">
        <strong>@Html.DisplayNameFor(model => model.Username):</strong> @Html.DisplayFor(model => model.Username)
    </p>
    <p class="h5">
        <strong>@Html.DisplayNameFor(model => model.Customer):</strong> @Html.DisplayFor(model => model.Customer.CustomerId)
    </p>
</div>
<div class="text-center my-3">
    <a asp-action="Edit" asp-route-id="@Model?.OrderId" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-dark">Back to Orders</a>
</div>
