@model IEnumerable<TechLight.DATA.EF.Models.RaidStatus>

@{
    ViewData["Title"] = "Raid Status";
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center">
    <div class="heading_container heading_center">
        <h2 class="fs-1" style="color: #feb900;">
            <span>@ViewData["Title"]</span>
        </h2>
        <p align="center" class="btn btn-dark">
            <a style="color: white" asp-action="Create">Add Raid Status</a>
        </p>
    </div>
</section>

<table class="table table-dark table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RaidStatusDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.RaidStatusId">@Html.DisplayFor(modelItem => item.RaidStatusDesc)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RaidStatusId">Edit</a> |                
                <a asp-action="Delete" asp-route-id="@item.RaidStatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
